# IntelliJ Platform
*.iml
*.ipr
.idea/
out/

# Eclipse
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Locally stored "Eclipse launch configurations"
*.launch

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Compiled class file
*.class

# Log files
*.log

# Package Files #
*.jar
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Gradle
.gradle/
build/

# Avoid ignoring Gradle wrapper jar file (.jar files are ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

